


.Fira-sans-normal> {
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    font-size: 32px;
    font-weight: bold;
}
/* shared */
.bodypadding{
    padding: 50px 160px;
}
/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.banner-left{
    size: 447px 400px;
}
.image1{
    size: 447px 400px;
}
.bdtwo{
    font-size: 24px;
    font-weight: 500px;
    color: #0E0E0E;

}
.idea{
    font-size: 56px;
    font-weight: bold;

}
.explore{
    font-weight: 600px;
    font-size: 18px;
    padding: 17px 34px;
    background-color: #71cdb6;
    border-radius: 8px;
    margin-top: 24px;
}
/* pillar section */
.pillar{
    display: flex;
    gap: 24px;
}
.pillar-card{
    border-radius: 16px;
    padding: 24px;
    background-color: #eee1e1;
    /* gap: 24px; */
}
/* vision section */
.vision-text{
    font-size: 40px;
    font-weight: bold;
}
.cardthree{
    display: flex;
    gap: 24px;
    border-radius: 16px;
    /* padding:0px 32px; */
    justify-content: space-around;
    width: 100%;
}
.v1{
    background-color: #91b5f4;
    border-radius: 16px;
    padding: 32px 32px;
}
.v2{
    background-color: #C6E4D6 ;
    border-radius: 16px;
    padding: 32px 32px;

}
.v3{
    background-color:#F7EBCF ;
    border-radius: 16px;
    padding: 32px 32px;
}
.bs{
    border-radius: 8px;
    padding: 11px 20px;
    margin: 0%;
}
.blue-button{
    background-color: #5490F5;
}
.green-button{
    background-color: #09A15C;
}
.yellow-button{
    background-color: #FFC239;
}
.d-younus{
    background-color: rgb(219, 211, 211);
    border-radius: 16px;
    padding: 48px 24px;
    margin-top: 32px;
}
/* news */
.news{
    display: flex;
    justify-content: space-between;
    background-color: #f1eded;
    border-radius: 24px;
    margin-bottom: 50px;
}
.image4{
    border-radius: 24px;
    position: 48px;
}
.recent-text{
    font-weight: 400px;
    font-size: 40px;
}
.sat-news{
    margin-left: 32px;
    /* margin-top: 56px; */
    margin-bottom: 56px;
    margin-right: 48px;
    padding-top: 0px;
    text-align: top;
    
}
.launch{
    font-size: 32px;
    font-weight: 400px;
}
/* Donate */
.taka{
    display: flex; 
    justify-content: space-around;
    padding: 40px 100px;
    /* scroll-padding-top: 100px; */
}
.other-amount{
    align-items: center;
}
.button-donate{
    padding: 20px 40px;
    background-color: #97d7ba;
    justify-content: center;
    align-items: center;


}
.donate{
    background-color: #d2dadc;
    border-radius: 24px;
}
.mydiv{
    text-align: center;
}
.mydiv2{
    text-align: center;
    margin-bottom: 50px;
}
.taka100{
    width: 250px;
    border-radius: 8px;
    
}
/* subscribe */
.subscribe{
    text-align: center;
    background-color: rgb(201, 207, 212);
    border-radius: 24px;
}
/* .subscribe-flex{
    display: flex;
    text-align: centre;
    } */

.bangla{
    text-align: center;
}
.last{
    text-align: center;
}
/* .button-subscribe{
    background-color: #b3e0cc;
    border-radius: 8px;

} */

